<div class="dropdown">
<p>
<%= select_tag 'translated_source[author_ids][]', options_for_select(@authors.collect{|a| [ a.name , a.id] }, selected.nil? ? nil : selected) %>
<%= link_to_function 'remove', "$('.dropdown').click(function(e) {$ 
(this).remove();});" %>
</p>
</div>