
<% if s.resource_type == 'Review' %>
<%   edit_path = edit_tool_review_source_path(@tool, resource, s) %>
<%   expand_path = expand_show_tool_review_source_path(@tool, resource, s) %>
<%   hash_path = hash_for_edit_tool_review_source_path %>
<%   div_updated = 'reviewsources_div' %>
<% else %>
<%   if s.resource_type == 'UsageScenario' %>
<%     edit_path = edit_tool_usage_scenario_source_path(@tool, resource, s) %>
<%     expand_path = expand_show_tool_usage_scenario_source_path(@tool, resource, s) %>
<%     hash_path = hash_for_edit_tool_usage_scenario_source_path %>
<%     div_updated = 'usagescenariosources_div' %>
<%   else %>  
<%     edit_path = edit_tool_source_path(@tool, s) %>
<%     expand_path = expand_show_tool_source_path(@tool, s) %>
<%     hash_path = hash_for_edit_tool_source_path %>
<%     div_updated = 'toolsources_div' %>
<%   end %>
<% end %>

	<p>
	<%= link_to '.', expand_path, :class => 'descriptionplus_icon', :remote => true %>  
	
	<%=  'MMS #'"#{s.mms_id}"', ' + formated_mms_pages(s) %>
  	</p>

