<h3>Related Links</h3>
	<%= render :partial => 'common/link_table', :locals => { :entity => @person, 
														     :editable => @allowed_to_edit,
														  	 :empty_message => 'This person has no links.' } %>		
