<div id="profile-tab">			
  <% unless @person.person_profile.overview.blank? -%>
    <div id="overview" class="item">
      <%#= rc @person.person_profile.overview.s %>
      <%= @person.person_profile.overview.s.html_safe %>
    </div><!--END OVERVIEW-->
  <% end -%>
  <div id="seeking" class="item">
    <%= render :partial => 'seeking_table', :locals => { :entity => @person,
      :editable => @allowed_to_edit } %>
  </div><!--END SEEKING-->
</div> <!-- END PROFILE -->