<div id="picture-entity">
<div id="main">
<%= error_messages_for :person %>

<h3>Change Picture</h3>
<%= render :partial => '/common/entity_picture_form', :locals => { :entity => @person } %>
</div>
</div>