<div id="main">
	<div id="main-content" class="narrow">		
		<%= error_messages_for :person %>

		<h2>Join Organizations</h2>
		<p>Select the organizations you wish to join.</p>
			<%= render :partial => '/common/entity_list', :object => @organizations, 
					   :locals => { :empty_message => "There are no organizations to join.",
									:form_url => url_for({ :action => 'create_organization_membership', :id => @person.id }),
									:submit_message => "Join Selected Organizations" } %>
	</div>
	<%= render :partial => '/common/media', :locals => { :entity => @person } %>
</div>