<div id="main">
	<h2>Request Sent</h2>
	<p>Thank you. Your request has been sent and will be considered by our staff.</p>
	<div class="gallery-button"><span><%= link_to 'Return to Profile', me_path %></span></div>		
</div>
