<div id="main">
  <div id="main-content" class="main-narrow">		
	<h3>Password Link Sent</h3>
	<br/>
	<div id="turned-down-page">
		<p>A link has been sent to your email address. Please click on it and then reset your password. </p>
	</div>
    
  </div>              
</div>
