<div id="main">
  <div id="main-content" class="main-narrow">		
	<h3>Invalid Link</h3>
	<br/>
	<div id="invalid-page">
		<p>We apologize but we are unable to verify the link you are using to access this page.</p>
		<p>Please try again or select "continue" to return to the main page.</p>
		<div class="gallery-button">
			<%= link_to 'Continue', root_path %> 
		</div>
	</div>
    
  </div>              
</div>
