<div id="main">
  <div id="main-content" class="main-narrow">		
	<h3>Sorry, but this email address is on our banned list</h3>
	<br/>
	<div id="turned-down-page">
	  <% if APPLICATION_DOMAIN == 'shanti.virginia.edu' %>
		<p>Your email account has been banned from SHANTI.</p>
		<p>Thanks for applying to our portal. However, this email address is on our list of banned email addresses due to our identifying you as engaged in spamming or other prohibited activities. If you think we have acted in error, please contact us at <%= mail_to "shanticontact@collab.itc.virginia.edu"%>.</p>
	  <% else %>
		<p>Your email account has been banned from Interconnections.</p>
		<p>Thanks for applying to our portal. However, this email address is on our list of banned email addresses due to our identifying you as engaged in spamming or other prohibited activities. If you think we have acted in error, please contact us at <%= mail_to "thl@collab.itc.virginia.edu"%>.</p>	
	  <% end %>	
	</div>
    
  </div>              
</div>
