<div id="main">
	<div id="main-content" class="narrow">		
		<%= render :partial => 'common/find_member', 
				   :locals => { :team => @project, :team_type => @project.class.to_s.humanize.to_sym, :entity_list => @people } %>
	</div> <!--END CONTENT-->
	<%= render :partial => '/common/media', :locals => { :entity => @project } unless params[:inline] %>
</div><!--END MAIN-->