<% project_profile = project.project_profile -%>

<div id="relationships-tab">
	<div id="relations" class="item">
		
		<div class="clearfloat">
	    
	    <!-- MEMBERS -->
	    <% # use a 2 column layout if the project type is an organization -%>
  		<div class="<%= 'left halfWidth' %>">
    		<h3>Members</h3>
    		<%= render ({
    			:partial => 'common/entity_list',
    			:object => project.people,
    			:allow_remove_self => true,
    			:locals => { :empty_message => "Project has no members.", :parent_entity => project }
    		}) -%>
			</div>
			
  		<% if project_type == :organization -%>
  		<!-- SUB-PROJECTS -->
  		<div class="right halfWidth">
  			<h3>Projects</h3>
  			<%= render ({
  			  :partial => 'common/entity_list',
  			  :object => project.projects,
  			  :allow_remove_self => true,
          :locals => { :empty_message => "Organization has no sub-projects.", :parent_entity => project }
        }) -%>
  		</div>
      <% end %>
     
		<% if project_type == :project -%>
		<!-- SUB-organizations -->
		<div class="right halfWidth">
			<h3>Organizations</h3>
			<%= render ({
			  :partial => 'common/entity_list',
			  :object => project.organizations,
			  :allow_remove_self => true,
        :locals => { :empty_message => "Project has no organizations.", :parent_entity => project }
      }) -%>
		</div>
    <% end %>

    </div><!-- end div.clearfloat -->
    
	</div>
</div>