<script>
$(document).ready(function() {
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});self.parent.successfullyUpdatedPicture();
	$("#cancel_button").click(function () { $("#popup_dialog").dialog("close"); });
	
});
</script>


<%= form_for(entity, :html => { :multipart => true, :id=>'edit_picture_form' }) do |f| -%>
	<label for="image">Upload Image:</label>
	<%= f.file_field :uploaded_data %>
	<p><em>Please try to use a picture that is generally square shaped. </em><br/><em>It doesn't have to be a square, but please avoid using pictures that are extremely long on the side or height.</em></p>
		<div class="gallery-button update">
			
			  <%= f.submit "Update" %>
			  <input type='button' name='cancel_button' value='Cancel' id='cancel_button'>
			  
			
		</div>
<% end -%>
