<div class="jcarousel-container">
		<div class="jcarousel-prev"></div>
		<div class="jcarousel-next"></div>
		<div class="jcarousel-clip">
		<!-- <ul id="detail_carousel">
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
				<li><a href="#"><img src="/images/example1.jpg" alt="example1" width="25" height="25" /></a></li>
			</ul> -->
		</div>
	</div>