<% if logged_in? -%>
	<% if current_user.authenticated_with_netbadge? -%>
		<li><% if admin? -%> <%= link_to 'Admin', admin_path %><% end -%>
		</li>
	<% else -%>
		<li><% if admin? -%><%= link_to 'Admin', admin_path %> <% end -%></li>
		<li><% if admin? -%><%= link_to 'Black List', blacklists_path %>  <% end -%></li>
	<% end -%>
<%# else -%>
	<!--<p>Click <%#= link_to 'here', login_page_path %> to log in.</p>-->
<% end -%>